# Dependencies
node_modules
npm-debug.log*

# Testing
coverage
test

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Docker
Dockerfile*
docker-compose*
.dockerignore

# Environment files
.env*

# Build outputs
dist
build

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage

# Bruno API client files
bruno

# Documentation
README.md

# Prisma
prisma/migrations
!prisma/schema.prisma
